{{>header}}
<div class="flex-container">
  <div class="text-center">
    <h1>
      <span class="fade-in" id="digit1">4</span>
      <span class="fade-in" id="digit2">0</span>
      <span class="fade-in" id="digit3">4</span>
    </h1>
    <h3 class="fadeIn">{{msg}}</h3>
    <a href="/" class="button">Return to the home</a>
  </div>
</div>


{{>footer}}