{{!-- <header class="header-fixed">

	<div class="header-limiter">

		<h1><a href="#">Fast<span>Weather</span><span><img class="header-icon" src="/img/weather-app.png"
						alt=""></span></a></h1>

		<nav>
			<a href="/">HOME</a>
			<a href="/blog" class="selected">BLOG</a>
			<a href="/about">ABOUT</a>
			<a href="/contact">CONTACT</a>
			<a href="/faq">FAQ</a>
		</nav>

	</div>

</header> --}}



<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	{{!-- provide path from public folder --}}
	<link rel="stylesheet" href="/css/style.css">
	<title>Document</title>
</head>

<body>
	<header class="header-fixed">

		<div class="header-limiter">

			<h1><a href="#">Fast<span>Weather</span><span><img class="header-icon" src="/img/weather-app.png"
							alt=""></span></a></h1>

			<nav>
				<a href="/">HOME</a>
				{{!-- <a href="/blog" class="selected">BLOG</a> --}}
				<a href="/blog">BLOG</a>
				<a href="/about">ABOUT</a>
				<a href="/contact">CONTACT</a>
				<a href="/faq">FAQ</a>
			</nav>

		</div>

	</header>